@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHd_K47e0SS9hjsuisqY_y4eUcX2A9a0n6ggyl5ywFnw8PVeNE71tQVbsCdJfJHtBZuFlZ6HEjFbJEcWZZp5ONyylo4Oy4jaunrix4DBipv1YmhlTPoOgVV1sFqs-5DkfHPduY6F48YcA2MY3wQSdcuFcpw9UjIW20P93Tzhz01kLOKva374Brt70H5AcCypOdbdMAAhu2CBY5IvUVBLzRuWs9lxfTSqIVNS3KQxQPkEfKEoyMwBWoOVnYsBfTLJdNy4FnEHwSsgypn0KCzHLG0sXkEsbg7G4LxpjNvE8sl7jyyTmjPNYPwKWBzMGl0jfCGYrAGnaaI1DaDfTZTYB9de3OgHJJ4VSbB-BZ5ajc9ow8dulBlrS0JNTsScbsgahQYfy29ba6mrEgy1OzSQs47kjC4YWVmnYgOKBQLZVH5v_zeAP5xO78bfW5a9w1sYQLqclpiI8D30nGSqevCi2NHVxaEkYT5bBvb5iJaNg4UoU1qOygLWH_EtecJTUv1kpad4qVMx3iWv3RJ4LiidwIEZAfgmNHuMcGpFDypl6I7nXWtnsGPM7Ce6ZAip5CsSVqumsgci1HnAvg9uyREGGzqHlgD-4tLWZBtUJdG4ynysg7gnvJk_jvTk654jE2yWR9MQa4nyTMywH49lKH6ce_BBG0IUiAUpWRSN5JCPk6uouJatT_ALflBYqf_GwrZOo1-4AmDgTvW1l9y13A8Mw1nQuayELPnU-F1Q_c6nZCIbRRpoFvZnOy6GcLBZIvYD_pIUdV8cYItn_c1khST7LDLnnxwHWTVWN-AM3f7268tmlVX8SZLvhbjxuVDT2A9yPsJwtfXHqKJtkWIt93yRX6ELs8OsBfoLHXOgvvl_33jpFpwyanM6ya4gZkQGYsoSVTQDRdJgl43pmVZ1BHmImiKGwsyTiaEfur992fJuXY8saclecVg=w100-h220-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}
