@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHftuAYb2BfBzzeEdKok9gFaZwfMQntmGVfbO8dHVufajZyCb4QTRTbX4qvoNe3IMn5iJk64x4rxdDcGDuMH-E3ZY8fBux0mTllc2f_OTBBfMA8PbAUeQUgDNQuUDXgxwDfZ2SktUtjEC4wF-qtx4jYiEni_5o6JMQDHkEuoRa9FUmnxBOTLasHfriK8ANgKRtO04gcAFfII4YLdv-4KEZsKXY5jqzqTZFJC9_97AM35Zmi90KQGenkO-g0d-7F1-KW6Zdhx2eWn7xunwIoXQo_tCuHr_3sF_CUKlkONBnFmQXfY5o3prJNPxj8tyhjbblsyJMy49ESoqYla_3gKye4c2VL2mEw-u0x9QAcV6TjRAZVylJ2EczfxcyUfJ_ErxNTb7Um1qpFJkxQIeKsbCRr_bXOKGB2-9HwA9ZxSk8r_0__ljjWcCWTFsIh4hrLifqqZCQp7PkXeQDDIiLkK3X5c8tjnr0taS0lnbBJZgFdIpJm9AVPRsL7UTjefCcGB4HJlrM3p0eTgfNVxLhbS88tQA-QEdNmHv_nn6InEINPiAyWll9pqIoUaP3DM1bThB_QevHclkX26VmBBUJvy9XWR4mtd39R57nbXjLSF7YNMhPW8ZOhLuIPCB0HG_sgEXRFdiYTXi7r7LK6RBoJbrbA-C7JiCjOU4s7mnsDvLo3-i8iAbaoyjqFECC_O14a7I31u__qkl0SUVtVvWyMagVfezWBfI1xw3kgqENZr2vnBrG81EHo3Wwnb-qD3EcsfLso4ehSql2A1Cds4OQeS-rJs7oaha2Qlq-AndhY3nAOPvGqw_oqW7aHoPZQ7CSl8VH5nNrGXmkIO4AovAPY2M1RQ5Ng3sNX0k7dhrRTheTNyVrQ3fJKobb1gqnmBBi4MmBlq5YxFRyPrrvP0Aejb-eWIYPb70VnyNo3DJWjNe3LApoxbRGfZZbwL6w=w352-h653-s-no?authuser=1);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #fff;
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}
