@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHevCyP3n0pkvI2MDRklZDGcnKIvJhXpdjtQ5MMHNtGTeI7b-V9JzgP-xcdcn5_S8Avp2kcVFqK_nCG3hMdTmDgIyrrpQ2v07IO4p-VUSzZVJB80CuYDp9UboTnryL4f_FU_MyGLz5MgwwKNhCWw927DJ8Z02rbweyit5g6KcAZuActtUHRKd9Vop6lQgFDr4Josc6yJgGCk6kNHYfGruqbdNekgazC5oRVKj4bj1d2_W3wMcwSVHJORRvL3g1VGNKX22l_XpXRgMqoeQZVaSkPY9VHMSSySwUMlQ3ob6o_aKGdskCvDvxmCoags_5yB9pigauYx9NoigdQufmFAVTXLlM46-JshX7E1Qb-mAWs02vFqoclLkQQ0BpSQtuJDgN9C0O43GCGOT5M6HymUL7flTXkisjv02TOV82sHWaxoma8JgC0LsRCVe4sRGwTPLcN1e6w1llw_o60-2kjt1P1JsYcRoSB3luO4O5afwORaATifsnNoNZ7SNE1JoFvcirPv3jdcAkDReZyBBADIBiCh63TOFj-c88gnM1l1Xep0rX4IG-k6Q_Em2DHcQMXOMHOjXCuhKEyKGG1lkfdA2zPFav04CSTeCbtrXLMXy89L-ZUZAsaZdfj2GQEjoN9n0cD2eMp9RYBPjPz2UiAQvfJw-mprflhIHI67eoTrSuhXyugA6_-h7gCv8-Vp5hr7KIPg-FxoIscjjlo9cf4Vt8XH2Tp0SHiBOkfpbFQ--5vbdUW0TRBqzY1H45NdaMOV1pe_cJ-W6GRImvXZTDnsjjlFrFa2nv9um9UTkPc0_fkhrkwN7u8fyket3Fz1USvRqu55JQ2IC-RO6vrzR9nC1-OjGpuxvdLt6ou_gBf_jISIdWUuLb7FLQCbouHV7S-lEjdprutY2mVyO5kaBfXSPeTt-R0It1ujiOdBBVVOCaZ0HhYAmdQ=w247-h653-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}
